#confirm_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
}

.confirm-locked {
  background-color: #4c4c4c !important;
}
.confirm-locked {
  transform: scale(1, 1) !important;
}

#confirm {
  font-family: montserrat;
  font-weight: 700;
  font-size: 16px;
  height: fit-content;
  width: fit-content;

  background-color: #1b7e2c;
  padding: 0px 24px;

  border-radius: 30px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

#confirm:hover {
  background-color: #30c448;
  transform: scale(0.95, 0.95);
}

#confirm:focus {
  outline: none;
}