#app_content {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.property_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  width: 450px;
  background-color: #1a1a1a;
  border-radius: 32px;
  box-shadow: 0px 0px 5px rgba(215, 215, 215, 0.1);
}

.property_content {
  display: flex;
  margin-right: 25px;
  flex-direction: row;
  align-self: center;
  box-sizing: border-box;
}
.property_content:focus {
  outline: none;
}

.property_label {
  font-family: montserrat;
  font-size: 14px;
  font-weight: 800;
  margin-left: 20px;
  width: 170px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.collector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.property_input,
select,
input {
  font-family: montserrat;
  font-weight: 300;
  font-size: 13px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: left;
  color: #eeeeee;
  width: 210px;
  display: block;
  background-color: #303030;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  transition: all 0.1s ease-in-out;

  box-sizing: border-box;
}

label {
  font-family: montserrat;
  font-weight: 300;
  font-size: 14px;
}

input::placeholder {
  color: #999999;
}

#newOutputPath:hover {
  transform: scale(0.95, 0.95);
}

input:focus {
  outline: none;
}
select:focus {
  outline: none;
}