@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display&family=Roboto:wght@400;700&display=swap');

body{
    font-family: lato;
    font-size: 16px;
    color: #f5f5f5;
    background-color: #262626;
    text-align: center;
}
input{
    display: block;
    margin: auto;
    max-width: 100%;
}
.mainContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15pt;
<<<<<<< HEAD
}
.elementContainer{
    margin: 15pt;
=======
>>>>>>> 4174a2b119d79cd203e054f2a6396dbc22edfb59
}