@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display&family=Roboto:wght@400;700&display=swap');

*{
    user-select: none;
}

body{
    font-family: lato;
    font-size: 16px;
    color: #f5f5f5;
    background-color: #262626;
    text-align: center;
}
input{
    display: block;
    margin: auto;
}
.mainContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15pt;
}
.elementContainer{
    margin: 15pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4pt;
}
select{
    width: fit-content;
}

.hidden{
    display: none;
}

#runButton{
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
    color: black;
    background-color: #ffffff;
}

.checkboxHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#numOn{
    margin-left: 10px;
}